body {
  background-color: HSL(212, 45%, 89%);
}

.rectangle {
  margin: 100px auto;
  border-radius: 20px;
  height: 450px;
  width: 290px;
  background-color: white;
}

.QR {
  margin-top: 15px;
  margin-left: 17px;
  width: 255px;
  height: auto;
}

img {
  border-radius: 10px;
}

h1 {
  font-size: 1.25rem;
  font-family: 'Outfit', sans-serif;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
  text-align: center;
}

p {
  font-size: 13px;
  color: HSL(220, 15%, 55%);
  font-family: 'Outfit', sans-serif;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
}
